<h2>{{model.name}}</h2>
<button {{action 'deleteArtist' model}}>Delete Artist</button>
{{#link-to 'artists.edit' model.id}}
  Edit
{{/link-to}}
<br /><br />
Label: {{#link-to 'labels.show' model.label.id}}
         {{model.label.name}}
       {{/link-to}}
<br /><br />
Albums
<ul>
  {{#each model.albums as |album|}}
    <li>
      {{#link-to 'albums.show' album.id}}
        {{album.title}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
{{outlet}}
