<h2>{{model.title}}</h2>
By: {{#link-to 'artists.show' model.artist.id}}
     {{model.artist.name}}
    {{/link-to}}<br />
Label: {{#link-to 'labels.show' model.artist.label.id}}
         {{model.artist.label.name}}
       {{/link-to}}
<br />
<button {{action 'deleteAlbum' model}}>Delete Album</button>
{{#link-to 'albums.edit' model.id}}Edit{{/link-to}}
<ul>
{{#each model.songs as |song|}}
  <li>
    {{#link-to 'songs.show' song.id}}
      {{song.title}}
    {{/link-to}}
  </li>
{{/each}}
</ul>
